
    <div class="wrapper">
        <div class="overlay" *ngIf="isLoading">
          <div class="spinner-wrapper">
            <app-spinner></app-spinner>
            <div id="loadingDiv">

                <div class="loadingio-spinner-ellipsis-ikyl333scrn"><div class="ldio-9hopk0r6a8n">
                    <div></div><div></div><div></div><div></div><div></div>
                    </div></div>


            </div>
          </div>
        </div>
      
        <div class="loaded-content" [class.blurred]="isLoading">



<div class="alert alert-success alert-dismissible fade show" *ngIf="showSuccess">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Successfully</strong> deleted record.
  </div>
  <div class="alert alert-danger alert-dismissible fade show" *ngIf="showError">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error!</strong> Please try Again, some error occured.
  </div>

<div class='container-fluid'><br/>
    <h4>User Data</h4>  
    <div class="table-responsive-sm">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Start Time</th>
            <th scope="col">Total Hours</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of FinalData">
            <th>{{user.name}}</th>
            <td>{{user.startdate}}</td>
            <td>{{user.totalhours}}</td>
            <td><button type="button" class="btn btn-danger" (click)="deleteUser(user._id)"> <span aria-hidden="true">×</span>
              <span class="sr-only">Close</span></button></td>
          </tr>
          </tbody>
          </table> 
        </div>  
          <br/><br/>
          <h4>TimeSheet Data<input type ="text" (input)="defunc($event.target.value)" name='filVal'/></h4>  
          <div class="table-responsive-md">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" >Name</th>
        <th scope="col">Start</th>
        <th scope="col"> End</th>
        <th scope="col" >Hrs</th>
        <th scope="col" >Ops</th>
      </tr>
    </thead>
    <tbody>
    
      <tr  *ngFor="let time of timeData">
        <th >{{time.name}}</th>
       
        <td >{{time.starttime}}</td>
        <td>{{time.endtime}}</td>
      
    
        <td >{{time.hours}}</td>
        <td ><button type="button" class="btn btn-danger" (click)="deleteTime(time._id)">   <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span></button></td>
      </tr>
    
      </tbody>
      </table>
      </div>
    </div>



          <ng-content></ng-content>
        </div>
      </div>